{% extends 'main.html' %}
{% block main_data %}
    <div class="span1">
        <br>
    </div>
    <div class="span10">

        <div class="row color-wrapper" style="background-color: {{ color }};">

            {% for el in soups %}
                <div class="span2 thumb_wrapper">
                    <img src="{{ el.image_url }}" class="soup-image img-rounded">

                    <div class='mask'>
                        <div class="thumb_a_cart">
                            <i class="icon-shopping-cart " onclick='add_to_cart({{ el.id }});'></i>
                        </div>
                        <a href="/description/{{ el.id }}" class='thumb_a_description'>
                            <i class="icon-info-sign"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}