{% extends 'main.html' %}
{% block header %}
{% endblock %}
{% block main_data %}

    <div class="span3"><br></div>
    <div class="span10">
        <div class="row big-text">

        </div>
        <div class="row big-text">
            Большое
            <br>
        </div>
        <div class="row big-text">
            <div class="container">
                <div class="row">
                    <div class="span3">Вам</div>
                    <div class="span4 offset1 comment-text"> Правда, спасибо. Мы Вас любим!</div>
                </div>
                <div class="row">
                    <div class="span3"><br></div>
                    <div class="span4 offset1">
                        <a href="/">
                        <button type="submit" class="btn btn-inverse btn-order">
                            <i class="icon-chevron-left icon-white"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="span1">

            </div>
        </div>

        <div class="row big-text">
            <br>
            Спасибо!
        </div>

    </div>

{% endblock %}
{% block cart %}
{% endblock %}